// Colors
$yellow: #f1c40f;
$grey: #95a5a6;
$red: #f1540f;
$green: #008547;
$blue: #0faff1;
$orange: #ffa600;
$footer-bg-color: #2a2a2a;
$footer-color: #686868;
$main-bg-color: #000000;
$buy-border-color: #cbcbcb;
$buy-text-color: #a2a2a2;

// Sizes
$nav-height: 90px;
$view-port: 1200px;
$auth-height: 100px;
