@import 'partials/params';
@import 'partials/mixins';

.about {
	padding: 40px;
	background-color: #fff;

	&__content {
		display: flex;
		padding-top: 20px;
	}
	&__text {
		width: 50%;
		opacity: 0.7;
		font-size: 14px;
		border-right: 3px dotted $buy-border-color;
	}
	&__title {
		font-size: 30px;
		font-weight: bold;
		margin-bottom: 15px;
	}
	&__imgs {
		display: flex;
		justify-content: space-around;
		width: 50%;
	}
	&__profile {
		display: flex;
		flex-direction: column;
		align-items: center;

		& .profile__img {
			margin-bottom: 5px;
		}
		& .profile__name {
			margin-bottom: 5px;
			font-weight: bold;
		}
		& .profile__job {
			margin-bottom: 5px;
			opacity: 0.6;
		}
		& .profile__soc {
		}
		& .profile__icon {
			opacity: 0.6;
			margin-right: 10px;
			cursor: pointer;
			&:hover {
				color: blue;
			}
		}
	}
}
