@import 'partials/params';
@import 'partials/mixins';

.auth {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex: 0 0 $auth-height;

	&__link {
		text-transform: uppercase;
		font-family: 'Roboto';
		color: #ffffff;
		font-size: 22px;
		font-weight: 400;
	}
}
