@import 'partials/params';
@import 'partials/mixins';

$opacity: 0.6;

.buy {
	background-color: #fff;

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 60px;
	}

	&__title {
		font-size: 25px;
		font-weight: normal;
		margin-bottom: 25px;
		opacity: 0.8;
	}

	&__subtitle {
		color: $buy-text-color;
		margin-bottom: 50px;
	}

	&__input-wrapper {
		display: flex;
		width: 889px;
		margin: 0 auto 50px;
		padding: 5px;
		border: 1px solid $buy-border-color;
	}

	&__www {
		justify-content: center;
	}

	&__help {
		display: flex;
		align-items: center;
		width: 10%;
		color: $buy-text-color;
	}

	&__input-block {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 80%;
		border-right: 1px solid $buy-border-color;
		border-left: 1px solid $buy-border-color;
	}

	&__input {
		width: 100%;
		border: none;
		outline: none;
		padding: 10px;
		font-weight: bold;
	}

	&__domain {
		margin-right: 50px;
		color: $buy-text-color;
	}

	&__select {
		position: relative;
		justify-content: flex-end;
		cursor: pointer;

		&:hover {
			.select__dropdown {
				opacity: 1;
				z-index: 99;
			}
		}

		& .select__dropdown {
			@include clear-list;
			position: absolute;
			justify-content: flex-end;
			width: 200px;
			top: 42px;
			right: -6px;
			z-index: -99;
			opacity: 0;
			background-color: #fff;
			border: 1px solid $buy-border-color;
			border-bottom: none;
			transition: 0.5s all;
		}
		& .select__item {
			text-transform: uppercase;
			padding: 3px 15px;
			border-bottom: 1px solid $buy-border-color;
			&:hover {
				background-color: rgb(223, 223, 223);
			}
		}		
	}

	&__icon {
		margin-right: 20px;
	}

	&__table {
		width: 830px;

		& .table__row {
			display: flex;
		}

		& .table__cell {
			position: relative;
			@include flex-center(row);
			padding: 30px 50px;
			width: 25%;
			font-size: 13px;
			color: $buy-text-color;

			&:after {
				position: absolute;
				display: block;
				content: ' ';
				background-color: #fff;
				width: 10px;
				height: 10px;
				right: -5px;
				bottom: -5px;
				opacity: 1;
				z-index: 88;
			}

			&--top {
				border-bottom: 1px solid $buy-border-color;
				border-right: 1px solid $buy-border-color;
			}

			&--bottom {
				border-right: 1px solid $buy-border-color;
			}
			&--nrb {
				border-right: none;
				text-transform: capitalize;
			}
		}
	}
}
