@import 'partials/params';
@import 'partials/mixins';

.feature {
	background-color: #fff;

	&__content {
		display: flex;
		padding: 60px;
	}
	&__tile {
		@include flex-center;

		&:hover {
			& .tile__icon  {
				transform: rotate(360deg);
			}	
		}

		& .tile__icon {
			@include flex-center(row);
			margin-bottom: 20px;
			height: 50px;
			width: 50px;
			font-size: 20px;
			border-radius: 50%;
			color: #fff;

			&--yellow {
				background-color: $yellow;
			}
			&--blue {
				background-color: $blue;
			}
			&--grey {
				background-color: $grey;
			}
			&--orange {
				background-color: $red;
			}

			& i {
				transform: scale(1.3);
			}

			// Anomation
			transition: transform 0.5s;
			// &:hover {
			// 	transform: rotate(360deg);
			// }
		}
		& .tile__title {
			color: #303030;
			font-size: 18px;
			font-weight: 400;
		}
		& .tile__text {
			color: #7e7e7e;
			font-size: 16px;
			font-weight: 400;
			line-height: 22px;
			text-align: center;
		}
	}
}
