@import 'partials/params';
@import 'partials/mixins';

.footer {
	background-color: $footer-bg-color;
	color: $footer-color;
	&__header {
		display: flex;
		justify-content: space-between;
		padding: 30px 0;
		border-bottom: 2px solid $footer-color;
	}
	&__brand {
		font-weight: bold;
	}
	&__nav {
		@include clear-list;
		display: flex;
		& .nav__item {
			margin: 0 10px;
			font-size: 14px;
		}
		& .nav__link {
			text-transform: uppercase;
			color: $footer-color;
			transition: color 0.5s;
			&:hover {
				color: #fff;
			}
		}
	}
	&__content {
		display: flex;
		padding: 20px 0;
		line-height: 1.7;
		font-size: 12px;
	}
	&__block {
		width: (100%/3);
		padding: 30px;
	}
	&__text {
		font-size: 14px;
	}
	&__map {
		display: flex;
		justify-content: flex-end;
		// text-align: center;
		padding: 30px;
		border-right: 1px solid $footer-color;
		border-left: 1px solid $footer-color;
	}
	&__list {
		@include clear-list;
		padding-left: 30px;
		width: 50%;
		font-size: 14px;
		& .list__item {
			padding: 5px;
			&:hover {
				color: #fff;
				.list__link {
					color: #fff;
					margin-left: 10px;
				}
			}
		}
		& .list__icon {
		}
		& .list__link {
			margin-left: 5px;
			color: $footer-color;
			transition: margin-left 0.4s, color 0.6s;
		}
	}
	&__contact {
		& .contact__icon {
		}
		& .contact__item {
		}
	}
}
