@import 'partials/params';
@import 'partials/mixins';

.header {
	@include flex-center;
	margin-top: -90px;
	flex: 1 0 auto;
	background: url('./img/HeaderBG.jpg') no-repeat;
	background-size: cover;
	color: #fff;

	&__title {
		font-size: 72px;
		margin-bottom: 15px;
	}

	&__subtitle {
		font-style: italic;
		font-size: 32px;
	}
}
