@import 'partials/params';
@import 'partials/mixins';

$font-color: #fff;

.nav {
	// position: absolute;
	// top: 0;
	// left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 0 0 $nav-height;
	color: $font-color;
	background-color: transparent;

	&__brand {
		font-size: 20px;
		margin-left: 40px;
		font-weight: bold;
		z-index: 5;
	}
	&__menu {
		@include clear-list;
		display: flex;
		height: $nav-height;
	}
	&__item {
		position: relative;
		margin: 38px 15px 5px;
		font-size: 16px;
		&:hover {
			.nav__menu-border {
				opacity: 1;
			}
		}
	}
	&__link {
		color: $font-color;
	}
	&__menu-border {
		position: absolute;
		bottom: 0;
		display: block;
		height: 1px;
		opacity: 0;
		width: 100%;
		background-color: $font-color;
		transition: .3s opacity;
	}
}
