@import 'partials/params';
@import 'partials/mixins';

$border-color: $buy-border-color;

.package {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #fff;

	&__img {
	}
	&__tiles {
		display: flex;
		justify-content: space-around;
		margin-top: -300px;
		margin-bottom: 80px;
		height: 600px;
	}
	&__tile {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 18%;
		padding: 20px;
		background-color: #fff;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

		&::before {
			position: absolute;
			display: block;
			content: '';
			top: 0;
			left: 0;
			height: 3px;
			width: 100%;
		}

		&--yellow {
			@include package-color($yellow);
			&::before {
				background-color: $yellow;
			}
		}
		&--grey {
			@include package-color($grey);
			&::before {
				background-color: $grey;
			}
		}
		&--red {
			@include package-color($red);
			&::before {
				background-color: $red;
			}
		}
		&--green {
			@include package-color($green);
			&::before {
				background-color: $green;
			}
		}

		& .tile__img {
			width: 70px;
			height: 70px;
			border-radius: 50%;
			margin: 15px auto;
		}
		& .tile__title {
			text-align: center;
			font-weight: bold;
			margin-bottom: 10px;
			text-transform: uppercase;
		}
		& .tile__list {
			@include clear-list;
			padding: 20px 0;
			border-top: 1px solid $border-color;
			border-bottom: 1px solid $border-color;
		}
		& .tile__item {
			display: flex;
			justify-content: space-between;
			padding: 10px 0;

			& .item__key {
				opacity: 0.7;
			}
			& .item__value {
			}
		}
		& .tile__footer {
			@include flex-center;
			flex-grow: 1;
		}
		& .tile__cost {
			padding: 5px;
			margin-bottom: 10px;
			border-bottom-width: 3px;
			border-bottom-style: solid;
			& .cost__price {
				font-size: 20px;
				font-weight: bold;
			}
			& .cost__date {
				font-size: 10px;
				opacity: 0.7;
			}
		}
    }
    &__border {		
		border-bottom: 3px dotted $border-color;
		&:last-child {
			position: relative;
			left: 3px;
			margin-top: -1px;
		}
	}	
}
