@import 'partials/params';
@import 'partials/mixins';

.slider {
	@include flex-center;
	height: 190px;
	background: url('./img/CommentsBG.jpg') no-repeat;
	background-size: cover;
	color: #ffffff;
	&__slide {
		@include flex-center;
		opacity: 1;
		transition: opacity 0.5s;
	}
	&__quote {
		font-size: 20px;
		font-weight: 400;
		line-height: 30px;
		margin-bottom: 20px;
		text-align: center;
		max-width: 858px;
	}
	&__info {
		display: flex;
		// flex-direction: column;
	}
	&__name {
		font-size: 20px;
		font-weight: bold;
	}
	&__icons {
		display: inline-flex;
		align-items: center;
		margin-left: 20px;
	}
	&__icon {
		position: relative;
		width: 7px;
		height: 7px;
		top: 1px;
		border-radius: 50%;
		border: 1px solid #fff;
		margin: 2px 10px;

		cursor: pointer;

		&--active {
			background-color: #fff;
		}
	}
}
